@model Item

<h3 class="my-5">
    @Model.Name
</h3>

<div class="row gx-5">
    <!-- Image -->
    <img alt="@Model.Name" src="@Model.ImageUrl" class="img-fluid col-5" />

    <!-- Details -->
    <div class="col-7">
        <!-- Description -->
        <h5>@Model.Description</h5>

        <!-- Nutritional Information -->
        <h4>Nutritional Information (per 100g):</h4>
        <ul>
            <li><strong>Energy:</strong> @Model.Energy kcal</li>
            <li><strong>Carbohydrate:</strong> @Model.Carbohydrate g</li>
            <li><strong>Total Fat:</strong> @Model.TotalFat g</li>
            <li><strong>Saturated Fat:</strong> @Model.SaturatedFat g</li>
            <li><strong>Unsaturated Fat:</strong> @Model.UnsaturedFat g</li>
            <li><strong>Sugar:</strong> @Model.Sugar g</li>
            <li><strong>Dietary Fiber:</strong> @Model.DietaryFiber g</li>
            <li><strong>Protein:</strong> @Model.Protein g</li>
            <li><strong>Salt:</strong> @Model.Salt g</li>
        </ul>

        <!-- Navigation Links -->
        <p><a href="/Item/Table">Back to Table View</a></p>
        <p><a href="/Item/Grid">Back to Grid View</a></p>
    </div>
</div>